@model List<StaffWithModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Admin/Index.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Personel Adi</th>
        <th>Personel Ünvan</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detay</th>
    </tr>

    @foreach(var s in Model)
    {
        <tr>
            <td>@s.StaffId</td>
            <td>@s.Name</td>
            <td>@s.Title</td>
            <td><a href="#" class="btn btn-danger">Sil</a></td>
            <td><a href="#" class="btn btn-warning">Güncelle</a></td>
            <td><a href="#" class="btn btn-dark">Detay</a></td>
        </tr>
    }
</table>
<a href="#" class="btn btn-success">Yeni Personel</a>
